# Matthew Hansen

## Is it possible to predict future all stars?

I am interested in analyzing the statistics of NHL all stars before they became all stars to determine if there are predictors for future all stars.

**Step 1: Import the the data**

In [2]:
import pandas as pd
nhl_stats = pd.read_csv("../data/raw/NHL_Players_Statistics.csv", sep=';')
nhl_stats

,Name,Date_of_birth,SEASON_year,SEASON,TEAM,Games_Played,Goals,Assists,Points,PlusMinus_Ratings,...,Saves,Save_Percentage,Shutouts,Position,Height,Weight,Body_mass_index,Place_of_birth,Age,Experience
0,Aaron Downey,1974-08-27,2000,'99-'00,BOS,1,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,Right_wing,185,98,28.6,"Shelburne, Ontario",26,1
1,Aaron Downey,1974-08-27,2001,'00-'01,CHI,3,0.0,0.0,0.0,-1.0,...,NaN,NaN,NaN,Right_wing,185,98,28.6,"Shelburne, Ontario",27,2
2,Aaron Downey,1974-08-27,2002,'01-'02,CHI,36,1.0,0.0,1.0,-2.0,...,NaN,NaN,NaN,Right_wing,185,98,28.6,"Shelburne, Ontario",28,3
3,Aaron Downey,1974-08-27,2003,'02-'03,DAL,43,1.0,1.0,2.0,1.0,...,NaN,NaN,NaN,Right_wing,185,98,28.6,"Shelburne, Ontario",29,4
4,Aaron Downey,1974-08-27,2004,'03-'04,DAL,37,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,Right_wing,185,98,28.6,"Shelburne, Ontario",30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27314,Zigmund Palffy,1972-05-05,2001,'00-'01,LA,73,38.0,51.0,89.0,22.0,...,NaN,NaN,NaN,Right_wing,178,85,26.8,Skalica,29,8
27315,Zigmund Palffy,1972-05-05,2002,'01-'02,LA,63,32.0,27.0,59.0,5.0,...,NaN,NaN,NaN,Right_wing,178,85,26.8,Skalica,30,9
27316,Zigmund Palffy,1972-05-05,2003,'02-'03,LA,76,37.0,48.0,85.0,22.0,...,NaN,NaN,NaN,Right_wing,178,85,26.8,Skalica,31,10
27317,Zigmund Palffy,1972-05-05,2004,'03-'04,LA,35,16.0,25.0,41.0,18.0,...,NaN,NaN,NaN,Right_wing,178,85,26.8,Skalica,32,11
27318,Zigmund Palffy,1972-05-05,2006,'05-'06,PIT,42,11.0,31.0,42.0,5.0,...,NaN,NaN,NaN,Right_wing,178,85,26.8,Skalica,34,13

**Step 2: Begin cleaning the data for analysis** - (Part 1) First remove columns that will not be considered

In [6]:
for col in nhl_stats.columns:
    print(col)

Name
Date_of_birth
SEASON_year
SEASON
TEAM
Games_Played
Goals
Assists
Points
PlusMinus_Ratings
Penalty_Minutes
Shots_on_Goal
Shooting_Percentage
PowerPlay_Goals
PowerPlay_Assists
Short_Goals
Short_Assists
Game_Winning_Goals
Game_Tying_Goals
Time_on_Ice_per_Game
Production
Number
Games_Started
Wins
Losses
Ties
Overtime_Losses
Goals_Against
Goals_Against_Average
Shots_Against
Saves
Save_Percentage
Shutouts
Position
Height
Weight
Body_mass_index
Place_of_birth
Age
Experience

In [42]:
nhl_analysis_clean1 = nhl_stats.drop(nhl_stats.columns[[1,3,4,10,11,12,13,14,15,16,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,36,37]], axis=1)
nhl_analysis_clean1

,Name,SEASON_year,Games_Played,Goals,Assists,Points,PlusMinus_Ratings,Game_Winning_Goals,Position,Height,Weight,Age,Experience
0,Aaron Downey,2000,1,0.0,0.0,0.0,0.0,0.0,Right_wing,185,98,26,1
1,Aaron Downey,2001,3,0.0,0.0,0.0,-1.0,0.0,Right_wing,185,98,27,2
2,Aaron Downey,2002,36,1.0,0.0,1.0,-2.0,1.0,Right_wing,185,98,28,3
3,Aaron Downey,2003,43,1.0,1.0,2.0,1.0,0.0,Right_wing,185,98,29,4
4,Aaron Downey,2004,37,1.0,1.0,2.0,2.0,1.0,Right_wing,185,98,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27314,Zigmund Palffy,2001,73,38.0,51.0,89.0,22.0,8.0,Right_wing,178,85,29,8
27315,Zigmund Palffy,2002,63,32.0,27.0,59.0,5.0,6.0,Right_wing,178,85,30,9
27316,Zigmund Palffy,2003,76,37.0,48.0,85.0,22.0,5.0,Right_wing,178,85,31,10
27317,Zigmund Palffy,2004,35,16.0,25.0,41.0,18.0,2.0,Right_wing,178,85,32,11
27318,Zigmund Palffy,2006,42,11.0,31.0,42.0,5.0,2.0,Right_wing,178,85,34,13

**Step 2:** (Part 2) Remove rows prior to the year 2000 to conduct a more relevant analysis

In [43]:
nhl_analysis_clean2 = nhl_analysis_clean1.drop(nhl_analysis_clean1[nhl_analysis_clean1["SEASON_year"] < 2000].index)
nhl_analysis_clean2 = nhl_analysis_clean2.reset_index(drop=True)
nhl_analysis_clean2

,Name,SEASON_year,Games_Played,Goals,Assists,Points,PlusMinus_Ratings,Game_Winning_Goals,Position,Height,Weight,Age,Experience
0,Aaron Downey,2000,1,0.0,0.0,0.0,0.0,0.0,Right_wing,185,98,26,1
1,Aaron Downey,2001,3,0.0,0.0,0.0,-1.0,0.0,Right_wing,185,98,27,2
2,Aaron Downey,2002,36,1.0,0.0,1.0,-2.0,1.0,Right_wing,185,98,28,3
3,Aaron Downey,2003,43,1.0,1.0,2.0,1.0,0.0,Right_wing,185,98,29,4
4,Aaron Downey,2004,37,1.0,1.0,2.0,2.0,1.0,Right_wing,185,98,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17215,Zigmund Palffy,2001,73,38.0,51.0,89.0,22.0,8.0,Right_wing,178,85,29,8
17216,Zigmund Palffy,2002,63,32.0,27.0,59.0,5.0,6.0,Right_wing,178,85,30,9
17217,Zigmund Palffy,2003,76,37.0,48.0,85.0,22.0,5.0,Right_wing,178,85,31,10
17218,Zigmund Palffy,2004,35,16.0,25.0,41.0,18.0,2.0,Right_wing,178,85,32,11
17219,Zigmund Palffy,2006,42,11.0,31.0,42.0,5.0,2.0,Right_wing,178,85,34,13

**Step 3: Add additional data where needed** - (Part 1) Added a dataframe including the name of each player that won an MVP

In [44]:
mvp_dict = {
    'Name': ['Taylor Hall', 'Connor McDavid', 'Patrick Kane', 'Sidney Crosby', 'Alex Ovechkin', 'Evgeni Malkin', 'Corey Perry', 'Henrik Sedin', 'Alex Ovechkin', 'Alex Ovechkin', 'Sidney Crosby', 'Joe Thornton', 'Martin St. Louis', 'Peter Forsberg', 'Joe Sakic'],
    'SEASON_year': [2018, 2017, 2016, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2004, 2003, 2001],
    'MVP': ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']
}
pd.DataFrame.from_dict(mvp_dict)

                Name  SEASON_year  MVP
0        Taylor Hall         2018  Yes
1     Connor McDavid         2017  Yes
2       Patrick Kane         2016  Yes
3      Sidney Crosby         2014  Yes
4      Alex Ovechkin         2013  Yes
5      Evgeni Malkin         2012  Yes
6        Corey Perry         2011  Yes
7       Henrik Sedin         2010  Yes
8      Alex Ovechkin         2009  Yes
9      Alex Ovechkin         2008  Yes
10     Sidney Crosby         2007  Yes
11      Joe Thornton         2006  Yes
12  Martin St. Louis         2004  Yes
13    Peter Forsberg         2003  Yes
14         Joe Sakic         2001  Yes

**Step 3:** (Part 2) Merge the MVP list with the cleaned data file to identify the statistics of the player in the year they won the award

In [46]:
mvp_df = pd.DataFrame(mvp_dict)
nhl_analysis_merged = pd.merge(nhl_analysis_clean2, mvp_df)
nhl_analysis_merged2 = nhl_analysis_merged.groupby(["Name", "SEASON_year", "Position", "Height", "Weight", "Age", "Experience", "MVP"],as_index=False)[["Games_Played","Goals", "Assists","Points", "PlusMinus_Ratings", "Game_Winning_Goals"]].sum()
nhl_analysis_merged2

,Name,SEASON_year,Position,Height,Weight,Age,Experience,MVP,Games_Played,Goals,Assists,Points,PlusMinus_Ratings,Game_Winning_Goals
0,Alex Ovechkin,2008,Left_wing,190,108,23,3,Yes,82,65.0,47.0,112.0,28.0,11.0
1,Alex Ovechkin,2009,Left_wing,190,108,24,4,Yes,79,56.0,54.0,110.0,8.0,10.0
2,Alex Ovechkin,2013,Left_wing,190,108,28,8,Yes,48,32.0,24.0,56.0,2.0,4.0
3,Corey Perry,2011,Right_wing,190,95,26,6,Yes,82,50.0,48.0,98.0,9.0,11.0
4,Evgeni Malkin,2012,Centre,190,88,26,6,Yes,75,50.0,59.0,109.0,18.0,9.0
5,Henrik Sedin,2010,Centre,188,85,30,10,Yes,82,29.0,83.0,112.0,35.0,5.0
6,Joe Sakic,2001,Centre,180,88,32,13,Yes,82,54.0,64.0,118.0,45.0,12.0
7,Joe Thornton,2006,Centre,193,100,27,9,Yes,81,29.0,96.0,125.0,31.0,6.0
8,Martin St. Louis,2004,Right_wing,173,80,29,6,Yes,82,38.0,56.0,94.0,35.0,7.0
9,Patrick Kane,2016,Right_wing,178,80,28,9,Yes,82,46.0,60.0,106.0,17.0,9.0
10,Peter Forsberg,2003,Centre,183,93,30,9,Yes,75,29.0,77.0,106.0,52.0,2.0
11,Sidney Crosby,2007,Centre,180,91,20,2,Yes,79,36.0,84.0,120.0,10.0,4.0
12,Sidney Crosby,2014,Centre,180,91,27,9,Yes,80,36.0,68.0,104.0,18.0,5.0
13,Taylor Hall,2018,Left_wing,185,91,27,8,Yes,76,39.0,54.0,93.0,14.0,7.0